<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xmllog" type="System.Diagnostics.XmlWriterTraceListener" initializeData="demoLogs.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true" logEntireMessage="true"/>
    </diagnostics>
    <client>
      <endpoint name="cl_ep" address="http://127.0.0.1:2566" contract="itest" binding="wsHttpBinding" bindingConfiguration="clbind" behaviorConfiguration="clbhv">
        <identity>
          <rsa value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;rqlEpZ/5Ap3wwXQF46gmUp2+3Mw9GRu8EkgHona2xVZkcoVDpYyOyN1wZrtD6CGdHZuBxCxXlToHurR1hOeZ8P+EsphOebIbeuP7X7P9ZeqMR0x4/q/ZrP5zxTnogtm3Ss5wB3zTb8RXCNcHjbtJtiBJWU3A4Oax5QxS0ofqSu17qTKWX9Odi8/lGx1S99owKT2mRBlPB/2D9OSmM5iaeFxTgj70MgPrcA70Ct8u/JNx+W44TXS8C8fD3evURzIyWIAMwuWYJDyoauk9Z+V6gTl+JOoj3KstoROH3tg6aVrt6fh0+UIfOb8i3jFYop6tE8c3oNghjW02fIXbUIm1PQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="clbind">
          <security mode="Message">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clbhv">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>