<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="svbhv">
        <endpoint name="routing_ep1" address="http://127.0.0.1:8007/rout" contract="System.ServiceModel.Routing.IRequestReplyRouter" binding="basicHttpBinding"/>
        <endpoint name="routing_ep2" address="http://127.0.0.1:8008/rout" contract="System.ServiceModel.Routing.IRequestReplyRouter" binding="basicHttpBinding"/>
        <endpoint name="routing_ep3" address="http://127.0.0.1:8009/rout" contract="System.ServiceModel.Routing.IRequestReplyRouter" binding="basicHttpBinding"/>
      </service>
    </services>
    <client>
      <endpoint name="calc_sv1" address="http://127.0.0.1:3211" binding="basicHttpBinding" contract="*"/>
      <endpoint name="calc_sv2" address="http://127.0.0.1:3212" binding="basicHttpBinding" contract="*"/>
    </client>
    <routing>
      <filters>
        <filter name="f1" filterType="EndpointName" filterData="routing_ep1"/>
        <filter name="f2" filterType="EndpointName" filterData="routing_ep2"/>
        <filter name="f3" filterType="EndpointName" filterData="routing_ep3"/>
      </filters>
      <filterTables>
        <filterTable name="myfilter_tb">
          <add filterName="f1" endpointName="calc_sv1"/>
          <add filterName="f2" endpointName="calc_sv1"/>
          <add filterName="f3" endpointName="calc_sv2"/>
        </filterTable>
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svbhv">
          <routing filterTableName="myfilter_tb"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>