<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="demosv" behaviorConfiguration="svdiscovbhv">
        <endpoint address="http://127.0.0.1:1037/demo" contract="idemo" binding="basicHttpBinding"/>
        <endpoint address="http://127.0.0.1:210/test" contract="idemo" binding="basicHttpBinding"/>
        <!-- 发现终结点 -->
        <endpoint kind="udpDiscoveryEndpoint" endpointConfiguration="udpdiscovepcfg"/>
      </service>
    </services>
    <client>
      <endpoint name="dis_client" kind="udpDiscoveryEndpoint" endpointConfiguration="udpdiscovepcfg"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svdiscovbhv">
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <standardEndpoint name="udpdiscovepcfg" multicastAddress="soap.udp://239.255.255.253:10000"/>
      </udpDiscoveryEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>