<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svdisbhv">
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="dmsv" behaviorConfiguration="svdisbhv">
        <endpoint address="http://127.0.0.1:7633/sv/demo" contract="ical" binding="basicHttpBinding"/>
        <endpoint kind="udpDiscoveryEndpoint" endpointConfiguration="udpdiscep"/>
      </service>
    </services>
    <client>
      <endpoint name="dyn_cl" kind="dynamicEndpoint"  binding="basicHttpBinding" contract="ical" endpointConfiguration="dynep"/>
    </client>
    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <standardEndpoint name="udpdiscep" multicastAddress="soap.udp://239.255.255.103:11050"/>
      </udpDiscoveryEndpoint>
      <dynamicEndpoint>
        <standardEndpoint name="dynep">
          <discoveryClientSettings>
            <endpoint kind="udpDiscoveryEndpoint" endpointConfiguration="udpdiscep"/>
          </discoveryClientSettings>
        </standardEndpoint>
      </dynamicEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>