<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svhvr">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:6000/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MyApp.DemoService" behaviorConfiguration="svhvr">
        <endpoint address="http://localhost:1322/sv" binding="basicHttpBinding" contract="MyApp.IDemo"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>