<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
    <system.serviceModel>
      <services>
        <service name="MyApp.DemoService1">
          <host>
            <baseAddresses>
              <add baseAddress ="http://localhost:8700"/>
            </baseAddresses>
          </host>
        </service>
        <service name="MyApp.DemoService2">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:13560"/>
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>