<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="b1" messageEncoding="Text" maxReceivedMessageSize="90000" />
        <binding name="b2" messageEncoding="Mtom" maxReceivedMessageSize="60000"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MyApp.DemoService">
        <endpoint address="http://localhost:7112" contract="MyApp.IDemo" binding="basicHttpBinding" bindingConfiguration="b1" />
        <endpoint address="http://localhost:8365" contract="MyApp.IDemo" binding="basicHttpBinding" bindingConfiguration="b2" />
      </service>
    </services>
  </system.serviceModel>
</configuration>