<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="sv1">
        <endpoint address="http://127.0.0.1:3211" contract="ical" binding="basicHttpBinding"/>
      </service>
      <service name="sv2">
        <endpoint address="http://127.0.0.1:3212" contract="ical" binding="basicHttpBinding"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>