<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="bd_for_client" clientBaseAddress="http://localhost:6090"/>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="sv">
        <endpoint address="http://localhost:3333" binding="wsDualHttpBinding" contract="isv"/>
      </service>
    </services>
    <client>
      <endpoint name="test_ep" address="http://localhost:3333" binding="wsDualHttpBinding" contract="isv" bindingConfiguration="bd_for_client"/>
    </client>
  </system.serviceModel>
</configuration>