<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="cl_ep" address="http://localhost:7600/demo" contract="CommonLib.IDemo" binding="basicHttpBinding"/>
    </client>
  </system.serviceModel>
</configuration>