<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svdiscovery">
          <serviceDiscovery />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="enableDiscovery">
          <endpointDiscovery enabled="true"/>
        </behavior>
        <behavior name="disableDiscovery">
          <endpointDiscovery enabled="false"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="sv" behaviorConfiguration="svdiscovery">
        <endpoint address="http://127.0.0.1:4125/demo" contract="idemo" binding="basicHttpBinding" behaviorConfiguration="disableDiscovery"/>
        <endpoint address="http://127.0.0.1:6009/testsv" contract="idemo" binding="basicHttpBinding" behaviorConfiguration="enableDiscovery"/>
        <endpoint address="http://127.0.0.1:2588/cal" contract="idemo" binding="basicHttpBinding" behaviorConfiguration="enableDiscovery"/>
        <!-- 发现终结点 -->
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
