<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="forsv">
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="forep1">
          <endpointDiscovery>
            <scopes>
              <add scope="http://samples/g1/ep01"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
        <behavior name="forep2">
          <endpointDiscovery>
            <scopes>
              <add scope="http://samples/g1/ep02"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
        <behavior name="forep3">
          <endpointDiscovery>
            <scopes>
              <add scope="http://samples/g2/ep03"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
        <behavior name="forep4">
          <endpointDiscovery>
            <scopes>
              <add scope="http://samples/g2/ep04"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="sv" behaviorConfiguration="forsv">
        <!-- 1 -->
        <endpoint address="http://127.0.0.1:1300/test-1" binding="basicHttpBinding" contract="democt" behaviorConfiguration="forep1"/>
        <!-- 2 -->
        <endpoint address="http://127.0.0.1:5020/test-2" contract="democt" binding="basicHttpBinding" behaviorConfiguration="forep2"/>
        <!-- 3 -->
        <endpoint address="http://127.0.0.1:6098/test-3" contract="democt" binding="basicHttpBinding" behaviorConfiguration="forep3"/>
        <!-- 4 -->
        <endpoint address="http://127.0.0.1:7158/test-4" binding="basicHttpBinding" contract="democt" behaviorConfiguration="forep4"/>
        <!-- 发现终结点 -->
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>