@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <div id="header">
        <h2>Jump for Joy Sale</h2>
    </div>
    <div id="main">
        <div class="guess_box"><img src="~/lib/jump1.jpg" /></div>
        <div class="guess_box"><img src="~/lib/jump2.jpg" /></div>
        <div class="guess_box"><img src="~/lib/jump3.jpg" /></div>
        <div class="guess_box"><img src="~/lib/jump4.jpg" /></div>
    </div>
    <script src="~/js/jquery-1.6.2.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
    </script>
</body>

