<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="sv">
        <endpoint address="http://localhost:27113" binding="basicHttpBinding" contract="idemo"/>
      </service>
    </services>
    <client>
      <endpoint name="ep_client" address="http://localhost:27113" binding="basicHttpBinding" contract="idemo"/>
    </client>
  </system.serviceModel>
</configuration>