<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="bhv">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="sv" behaviorConfiguration="bhv">
        <endpoint address="http://127.0.0.1:1722/test" binding="basicHttpBinding" contract="ct"/>
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>