<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="MyApp.DemoService">
        <endpoint address="net.tcp://localhost:3080/demo" binding="netTcpBinding" contract="MyApp.IDemo"/>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:3080/demo" binding="netTcpBinding" contract="MyApp.IDemo" name="dm_ep"/>
    </client>
  </system.serviceModel>
</configuration>